.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:url('../Images/pic4.png') ;
    background-size: cover;
    background-position: center;
    margin:0px;
    padding:0px;
  }
  
  form{
      background-color:rgba(255,255,255,0.1);
      padding: 0px 60px;
      border-radius: 10px;
  }
  
  h1{
      color: rgb(255,255,255);
      text-align: center;
  }
  
  button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }